*.o
*.obj
*.exe
*.out
*.s
*.elf
*.a
*.i
*.so
*.dll
*.lib
*.dylib
*.dSYM/
*.pdb
/build/
/bin/
/Debug/
/Release/
*.swp
*~
*.user
*.suo
*.ncb
*.vcxproj.user
.idea/
.vscode/
*.log
Makefile.in
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
tags
*.dep